.fix{
    clear: both;
}
body{
    /*background: yellow;*/
}
#content{
    width: 750px;
    margin: auto;
}
#newprod{
    width: 350px;
    float: right;
    /*background: lime;*/
}
#total{
    /*background: yellow;*/
}
#data{
    float: left;
    width: 350px;
    /*background: lime;*/
}

.field{
    float: right;
    /*background: green;*/
}
.label{
    float: left;
}
